{% extends 'csa_app/base.html' %}
{% load static %}

{% block title %} Текущая База Данных {% endblock %}

{% block css_additional %}
<link rel="stylesheet" href="{% static 'csa_app/css/csa_app_base.css' %}">
<link rel="stylesheet" ref="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" ref='https://use.fontawesome.com/releases/v5.8.2/css/all.css'>
{% endblock%}

{% block content %}
    <div class="analysis">
        <h3> Результаты анализа ваших показателей устойчивости компании</h3>
        {% csrf_token %}
        <h3> Аналитика набранных баллов </h3>
        <i> Ваша компания набрала {{ total_points }} баллов </i><br>
        <i> Учитывая индикаторы, которые вы не оценивали, ваша компания могла максимально набрать
            {{ company_max_points }} баллов </i><br>
        <i> Всего по 43-м индикаторам ваша компания могла бы максимально набрать {{ points_max }} баллов </i><br>
        <i> - </i> <br>
        <h3> Индекс "Ответственность и открытость" </h3>
        <i> Индивидуальное значение индекса {{ individual_value }} </i><br>
        <i> Среднее значение индекса по отрасли {{sector}} за {{year_of_analysis}} год составляет {{industry_average}}</i> <br>
        <i> Ваше значение {{difference}}</i>
            {% if dif_value %}
                {{dif_value}}</i>
            {% endif %} <br>
        <i> Максимальное значение индекса по отрасли {{sector}} за {{year_of_analysis}} год составляет {{industry_max}}</i> <br>
        <i> - </i> <br>
        <h3> Анализ индекса по группам </h3>
        <i> Всего РСПП выделяет 4 группы согласно индивидуальному значению индекса: А,B+,B,C. </i><br>
        <i> В соответствии с полученным индивидуальным значением индекса (округленным до сотых) компания входит
            в группу: {{ company_group }} </i> <br>
        <i> В данную группу за отчетный год также вошли такие Российские компании как: {{companies_in_group}}</i><br>
        <i> - </i> <br>
        <h3> Спецификация индикаторов по вашим оценкам </h3>
        {% if zero_evaluated%}
            <i> Вы оценили в "0" баллов такие индикаторы как: </i>
                <ul>
                    {% for indicator in zero_evaluated %}
                    <li>{{ indicator }}</li>
                    {% endfor %}
                </ul>
        {% else %}
            <i> Ваша компания в разной степени раскрывает информацию по всем основным индикаторам -
                это хороший показатель. Поздравляем!</i><br>
        {% endif %}
        <br>
        {% if not_evaluated %}
            <i> Вы не оценивали такие индикаторы как: </i>
                <ul>
                    {% for indicator in not_evaluated %}
                    <li>{{ indicator }}</li>
                    {% endfor %}
                </ul>
            <a href="{% url 'not_evaluated' %}">  Рекомендации по "неоцениваемым" индикаторам  </a><br>
        {% else %}
            <i> Вы не оставили без оценки ни одного индикатора - это хороший показатель. Поздравляем!</i>
        {% endif %}
    </div>

{% endblock %}
