{% extends 'base.html' %}
{% load static %}


{% block title %} Главная страница {% endblock %}

{% block css_additional %}
<link rel="stylesheet" href="{% static 'csa_app/css/csa_app_base.css' %}">
<link rel="stylesheet" ref='https://use.fontawesome.com/releases/v5.8.2/css/all.css'>
{% endblock %}

{% block content %}
    <div class="f_page">
        <h3> Вставить информацию о проекте </h3>
        <h3> Название проекта: </h3>
        <em> Оценка устойчивого развития компания</em> <br>
        <h3> Актуальность:</h3> <em> Концепция устойчивого развития ООН, принятая в конце 20 века,
        ставила как казалось тогда лишь амбициозные задачи. Спустя время концепция обрела поппулярность в развитых
        странах Европы и части развивающихся стран мира и ее положения/цели были включены в стратегии развития
        стран и компаний. Данные субъекты достигали неспеша первых успехов и ставли более амбициозные задачи, но
        нельзя сказать что Устойчивое развитие укреплялось в своей популярности в мире. В 2022 году мы обращаемся к
        к Целям устойчиовго развития не ради укрепления имиджа компании, не ради привлечения инвестиций и уж тем более
        не ради праздного любопытства. Остросоциальные мировые проблемы: военные конфликты, эпидемии, бедность, голод,
        катастрофические масштабы загрязнения окружающей среды - все они лежат в уже изученно области концепции
        устойчивого развития. Присоединяйтесь к здоровой цивилизации. Оцените свой вклад в общую устойчивость,
        узнайте больше о целях устойчивого развития, посмотрите какие чудесные шаги в зеленое будущее
        совершаются уже сегодня.</em><br>
        <h3> Цели проекта: </h3>
        <em> Оценить устойчивость компании в автоматизированном режиме</em> <br>
        <em> Изучить персонализированную актуальную информацию в области УР </em> <br>
        <h3> Автор проекта: </h3> <em> Суринов Никита Николаевич, Аспирант, МГУ им.Н.П.Огарева</em> <br>
    </div>
{% endblock %}
